<section id='body_content'>
  <%=raw @page[:body] %>
  <!-- Facebook I Like Button -->
  <%= facebook_i_like_button %>
  <br>
  <%= google_plus_one_button %>
  <br>
  <%= tweet_button %>
</section>
<section id='side_body_content'>
  <%=raw @page[:side_body] %>
</section>