<section id='body_content'>
  <%=raw @page[:body] %>
  <p>
    <%= facebook_i_like_button %>
    <br>
    <%= google_plus_one_button %>
    <br>
    <%= tweet_button %>
  </p>
  <p>
    <%= facebook_comments %>
  </p>
</section>
<section id='side_body_content'>
  1 BTC = <%= number_with_precision @btc_ars, :precision => 2 %> ARS <br>
  <span style="font-size:0.75em;">
  Fuente: <%= link_to 'Bitcoin Charts USD 24hs', "http://bitcoincharts.com/markets/", :target => "_blank" %> -
  <%= link_to 'Google USD', "http://www.google.com/finance/converter?a=1&from=USD&to=ARS", :target => "_blank" %>
  </span>
  <%=raw @page[:side_body] %>
</section>